{% extends "layout.html" %}
{% block body %}
    <div class="vechileContainer">
    <h2 class="vechileHeading">Car Information Form</h2>

    <form class="vechileForm" action="/cars" method="post">
        <label class="vechileLabel" for="carModel">Car Model:</label>
        <input class="vechileInput" type="text" id="carModel" name="carModel" class="form-control" required>

        <label class="vechileLabel"  for="carType">Car Type:</label>
        <input class="vechileInput" type="text" id="carType" name="carType" class="form-control" required>

        <label class="vechileLabel"  for="power">Power:</label>
        <input class="vechileInput" type="text" id="power" name="power" class="form-control" required>

        <label class="vechileLabel" for="range">Range:</label>
        <input class="vechileInput" type="number" id="range" name="range" class="form-control" required>

        <label class="vechileLabel" for="batteryCap">Battery Capacity</label>
        <input class="vechileInput" type="text" id="batteryCap" name="batteryCap" class="form-control" required>

        <label class="vechileLabel" for="chargingTime">Charging Time</label>
        <input class="vechileInput" type="text" id="chargingTime" name="chargingTime" class="form-control" required>

        <input class="vechileInput" type="submit" value="Submit" class="btn btn-primary">
    </form>

    <table class="vechileTable">
        <thead>
            <tr class="vechiletablerow">
                <th class="vechiletableheading" >Car Model</th>
                <th class="vechiletableheading">Car Type</th>
                <th class="vechiletableheading">Power</th>
                <th class="vechiletableheading">Range</th>
                <th class="vechiletableheading">Battery Capacity</th>
                <th class="vechiletableheading">Charging Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr class="vechiletablerow">
                    <td class="vechiletabledetails">{{ data[i].carModel }}</td>
                    <td class="vechiletabledetails">{{ data[i].carType }}</td>
                    <td class="vechiletabledetails">{{ data[i].power }}</td>
                    <td class="vechiletabledetails">{{ data[i].range }}</td>
                    <td class="vechiletabledetails">{{ data[i].batteryCap }}</td>
                    <td class="vechiletabledetails">{{ data[i].chargingTime }}</td>
                </tr >
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body%} 
